
section
{
    border-radius: 10px solid rgb(194, 29, 29);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.paper
{
    background-color: white;
    border-radius: 10px;
    height: 400px;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.question
{
    font-size: 20pt;
}
button
{
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding: 1px;  
    border-radius: 10px;
    background-color: #3F485B;  /* here */
    color: white;
    font-weight: 800;
    border:hidden;  
}
button:hover
{
    background-color: #395aa0; 
    cursor: pointer;
}

.topn {
    float: left;
    padding: 5px;
    text-align: center;
    font-size: 22px;
    margin-left: 15px;
    font-family: monospace;
    font-weight: 100;
    margin-top: 2px;
}

.topn:hover {
    background-color: #6a8dd8;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}