
section
{
<<<<<<< HEAD
=======
    background-color: rgb(207, 172, 207);
>>>>>>> 7702d4224a2551d87407aafc902b95264fe761ad
    border-radius: 10px solid rgb(194, 29, 29);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.paper
{
<<<<<<< HEAD
    background-color: white;
=======
    background-color: rgb(177, 129, 177);
>>>>>>> 7702d4224a2551d87407aafc902b95264fe761ad
    border: blueviolet;
    border-radius: 10px;
    height: 400px;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.question
{
    font-size: 20pt;
}
button
{
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding: 1px;  
    border-radius: 10px;
    background-color: rgb(170, 104, 170);  /* here */
    color: white;
    font-weight: 800;
    border:hidden;  
}
button:hover
{
    background-color: rgb(139, 78, 139); 
    cursor: pointer;
}
