*{
	margin: 0;
	padding: 0;
}
body{
	background-color: rgb(201, 165, 201);
}
#topnav{
	padding: 1px;
}
.topn{
	float: left;
	border-right: 2px solid black;
	padding: 5px;
	text-align: center;
	font-size: 22px;	
}
.topn:hover{
	background-color: rgb(139, 78, 139); 
	cursor: pointer;
}
#secTopNav{
	margin-top: 30px;
}
#UserName{
	float: left;
	font-size: 25px;
}
.SecNav{
	float: left;
	padding: 10px;
}
#timer{
	background-color: rgb(201, 165, 201);
	border: none;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	border-radius: 16px;
	margin: 5px;
	margin-left: 33%;
	padding: 5px;
	width: 120px;
	height: 35px;
	text-align: center;
	font-size: 25px;
}
#timer:hover{
	cursor: default;
}
#timer:focus{
	outline: none;
}
#signout{
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 20px;
}
#center{
	text-align: center;
	background-color: white;
	border-radius: 12px;
	margin:5% 10%;
	height: 400px;
    box-shadow: 5px 5px 30px 15px rgb(139, 78, 139);
}
#questions{
	font-size: 30px;
	margin: 5px;
	margin-bottom: 10px;
}
#AudBtn{
	width: 30px;
	height: 30px;
	float:right;
}
.aBox{
	width: fit-content;
	padding: 10px;
	margin-left:40%;
}
.array{
	border: 1px solid black;
	padding: 5px;
	font-size: 18px;
}
#questionBox{
	margin: 10px;
	padding: 5px;
}
#options{
	margin: 0px 150px;
	height: 100px;
}
.leftOP{
	margin:15px 5px;
	width: 250px;
	height: 40px;
	font-size: 22px;
	border: none;
	background-color: rgb(201, 165, 201);
	border-radius: 20px;
}
.leftOP:hover{
	cursor: pointer;
	background-color: rgb(139, 78, 139);
}
#rightOptions{
	float: right;
	padding: 20px;
	margin: 10px;
}
#leftOptions{
	float: left;
	padding: 20px;
	margin: 10px;
}
.navBox{
	background-color:rgb(201, 165, 201);
	border-radius:12px ;
	width: fit-content;
	height: fit-content;
	margin-left:25%;
}
.bnav{
	float: left;
	text-align: center;
	border: 1px solid rgb(139, 78, 139);
	border-radius: 12px;
	padding: 5px;
	margin: 5px;
	font-size: 28px;
	background-color: rgb(201, 165, 201);
	width: 50px;
}

.bnav:hover{
	background-color: rgb(139, 78, 139);
	cursor: pointer;
}