.box
{
    border: 2px solid black ;
    width: 500px;
    height: 500;
    margin-top: 170px;
    text-align: center;
    margin-left:350px;
    background-color: white;
    border-radius: 10px;
    border-color: rgb(201, 165, 201);  /* here */
}

.textbx
{
    padding: 10px;
    background-color: rgb(209, 206, 206);
    border: hidden;
    border-radius: 10px;    /* here */
    font-family:monospace;  /* here */
   
}

.btn
{
  padding: 5px;  
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(170, 104, 170);  /* here */
  color: white;
  font-weight: 800;
  border:hidden;  
}
.btn:hover
{
    background-color: rgb(139, 78, 139); 
}

.textbx:focus
{
    background-color: rgb(199, 195, 195);
    outline: none;
}